.MyLocationButton .current-button {
  color: #6f86d6;
  background: #fff;
  transition: all 200ms ease-in-out;
}

.MyLocationButton .current-button:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
