.SearchButton .search-button {
  background: transparent;
  border-color: #fff;
  color: #fff;
  transition: all 200ms ease-in-out;
}

.SearchButton .search-button:hover {
  color: #6f86d6;
  background: #fff;
  border-color: #6f86d6;
}
